<!doctype html>
<html class="no-js" lang="en" data-ng-app="naktbApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>نَــكْــتِّــب | Welcome</title>
  <link rel="stylesheet" href="css/app.css" />
  <link rel="shortcut icon" type="image/x-icon" href="img/logo.png" />
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>-->
  <script src="js/angular.min.js"></script>
</head>
<body class="home03">
<div class="wrapper">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1 class="logo">
          <a href="index.html"><img src="img/logo.png" alt="نَــكْــتِّــب" width="46" height="46" /><span class="slogan"> نَــكْــتِّــب</span></a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href=""><span>نَــكْــتِّــب</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right top-menu">
        <li><a href="who.html" class="button">من نحن</a></li>
        <li><a href="service.html" class="button">خدماتنا</a></li>
        <li><a href="price.html" class="button">الأسعار</a></li>
        <li><a href="contact.html" class="button">إتصل بنا</a></li>
      </ul>

    </section>
  </nav>


  <div class="main_content">
    <div class="row">

      <div class="large-7 medium-7 small-12 columns">
        <blockquote class="blockquote">
          <p>
            نكتب .كوم يساعدك على  كتابة بحثك بالطريقة الأمثل على أيدي باحثين في مجال التخصص . نحن نضمن لك
          </p>

          <ul>
            <li>
              الجودة في المحتوى والكتابة
            </li>
            <li>
              التسليم في الوقت المحدد
            </li>
            <li>
              الإسترجاع في حال عدم الرضاء
            </li>
          </ul>

        </blockquote>

        <p class="f20">

          إذا كنت تريد مساعدتنا في كتابة بحثك فضلاَ أدخل إسمك ورقم جوالك وسوف يتصل بك خدمة العملاء فوراً
        </p>

        <form id="callForm" name="form" class="wufoo form topLabel page" autocomplete="off"
              enctype="multipart/form-data"
              method="post" novalidate
              data-ng-controller="CallMeCtrl">
          <div class="spinner_wrap" data-ng-show="spinner">
            <img class="spinner" src="img/spinner.gif" alt="" width="16" height="16 " />
          </div>
          <div class="form_panel request_form">
            <div class="row">
              <div class="large-6 medium-6 columns">
                <div class="error_wrap">
                  <input id="Field3" name="Field3" data-ng-model="callForm.Field3" type="text"
                         class="field text medium"
                         value=""
                         maxlength="255"
                         tabindex="2"
                         required
                         placeholder="الإســـــم"
                         data-ng-class="{error: form.Field3.$error.required }"
                         data-ng-focus="checkDefaults(form.Field3.$name)"
                         data-ng-blur="checkEntered(form.Field3.$name)"
                      />

                  <div class="error_placeholder">

              <span class="error error_label"
                    data-ng-show="!form.Field3.$pristine && form.Field3.$error.required">من فضلك إكتب إسمك </span>
                  </div>
                </div>
              </div>
              <div class="large-6 medium-6 columns">
                <div class="error_wrap">
                  <input id="Field1" class="field text medium" name="Field1" data-ng-model="callForm.Field1"
                         tabindex="1" required
                         value="رقم هاتفك"
                         minLength="7"
                         maxlength="13"
                         type="text"
                         placeholder="0000000000"
                         data-ng-minlength="7"
                         data-ng-maxlength="13"
                         data-ng-pattern="phonePat"
                         data-ng-class="{error: form.Field1.$error.required || !form.Field1.$valid}"
                         data-ng-focus="checkDefaults(form.Field1.$name)"
                         data-ng-blur="checkEntered(form.Field1.$name)"
                      />

                  <div class="error_placeholder">
              <span class="error error_label"
                    data-ng-show="!form.Field1.$pristine && form.Field1.$error.required">فضلاً أدخل رقم هاتفك هنا </span>
              <span class="error error_label" data-ng-show="!form.Field1.$valid && !form.Field1.$error.required">
              فضلاً ادخل رقم هاتفك هنا لنتصل بك </span>
                  </div>
                </div>
              </div>
              <div class="large-12 column">
                <button class="left round submit button" id="saveForm" name="saveForm" type="button"
                        data-ng-disabled="form.$error.required || form.Field3.$pristine || form.Field1.$pristine || !form.$valid || noResend" data-ng-click="checkForm()" >
                  اتصل بي
                </button>

                <div class="clear"></div>
                <div data-alert class="alert-box success radius" data-ng-show="sendSuccess">
                  ! شكراً لتواصلك معنا. سوف يتصل بك خدمة العملاء في أقرب وقت ممكن لمساعدتك
                  <a href="#" class="close" >&times;</a>
                </div>

                <div data-alert class="alert-box warning radius" data-ng-show="sendError">
                  يوجد لديك خطاء فضلاً تأكد من المعلومات المدخلة وحاول مرةاخرى <a href="mailto:info@jetthoughts.com">info@jetthoughts.com</a>
                  <a href="#" class="close" >&times;</a>
                </div>
              </div>
            </div>
          </div>
          <div class="hide">
            <textarea name="comment" id="comment" rows="1" cols="1" data-ng-model="callForm.comment"></textarea>
            <input type="hidden" id="idstamp" name="idstamp"
                   value="9dEE38FnE/bKQEDjFp3OJfov8wcRTE2xjgD/QyJg8Wo=" data-ng-model="callForm.idstamp" />
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="push"></div>
</div>


<footer class="footer">
  <div class="footer_nav">
    <a class="footer_link" href="return_policy.html">سياسة الإسترجاع</a> <a class="footer_link" href="terms.html">الشروط
                                                                                                                  والاحكام</a>
  </div>
</footer>
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
<script>
  $(document).foundation();
</script>
<script src="js/app.js"></script>
</body>
</html>
