<form id="orderForm" name="orderFormWrap" class="wufoo form topLabel page" autocomplete="off"
      enctype="multipart/form-data"
      method="post" novalidate
      ng-controller="OrderFormController">

  <div class="spinner_wrap" ng-show="spinner">
    <img class="spinner" src="img/spinner.gif" alt="" width="16" height="16 "/>
  </div>

  <div class="form_panel request_form">
    <div class="row">

      <div class="medium-10 medium-centered column">

        <!--<div class="error_placeholder">-->

        <!--<span class="error error_label"-->
        <!--ng-show="!this.$pristine && this.$error.required">some error</span>-->
        <!--</div>-->
        <!--</div>-->


        <div class="row" ng-repeat="input in orderForm track by $index| orderBy: 'order'">
          <div class="large-12 columns">


            <!-- if Select -->
            <div ng-if="input.type == 'select'">
              <label for="input_{{input.name}}">{{input.title}}
                <small ng-show="input.required" class="required">Required</small>
              </label>
              <select name="{{input.name}}" id="select_{{input.name}}"
                      ng-model="input.default"
                      ng-required="input.required"
                  >
                <option
                    ng-repeat="option in input.value"
                    value="{{option}}">
                  {{option}}
                </option>
              </select>
            </div>

            <!-- if File -->
            <div ng-if="input.type == 'file'">
              <label for="input_{{input.name}}">{{input.title}}
                <small ng-show="input.required" class="required">Required</small>
              </label>
              <input type="file" fileread="input.default" id="input_{{input.name}}"/>
            </div>

            <!-- if Textarea -->
            <div ng-if="input.type == 'textarea'">
              <label for="input_{{input.name}}">{{input.title}}
                <small ng-show="input.required" class="required">Required</small>
              </label>
            <textarea ng-model="input.default" id="input_{{input.name}}"
                      ng-required="input.required"
                      name="{{input.name}}">
            </textarea>
            </div>

            <!-- if Text -->
            <div ng-if="input.type == 'text'">
              <label for="input_{{input.name}}">{{input.title}}
                <small ng-show="input.required" class="required">Required</small>
              </label>
              <input type="text" ng-model="input.default" id="input_{{input.name}}"
                     ng-required="input.required"
                     name="{{input.name}}"/>
            </div>

            <!-- if Email -->
            <div ng-if="input.type == 'email'">
              <label for="input_{{input.name}}">{{input.title}}
                <small ng-show="input.required" class="required">Required</small>
              </label>
              <input type="email" ng-model="input.default" id="input_{{input.name}}"
                     ng-required="input.required"
                     name="{{input.name}}"/>
            </div>


            <!-- if Radio -->
            <div class="control_radio" ng-if="input.type == 'radio'">

              <label for="input_{{input.name}}">{{input.title}}
                <small ng-show="input.required" class="required">Required</small>
              </label>
            <span ng-model="input.default" class="button tiny round"
                  ng-repeat="radio in input.value"
                  ng-class="{disabled: input.default == input.value[$index] }"
                  ng-click="input.default = input.value[$index]">
            {{input.value[$index]}}
            </span>
            </div>

            <!-- if Checkbox -->
            <div ng-if="input.type == 'checkbox'">
              <input type="checkbox"
                     id="input_{{input.name}}"
                     ng-model="input.default"/>
              <label for="input_{{input.name}}">{{input.title}}
                <small ng-show="input.required" class="required">Required</small>
              </label>

            </div>


            <!-- if Number -->
            <div class="control_number" ng-if="input.type == 'number'">
              <label for="input_{{input.name}}">{{input.title}}
                <small ng-show="input.required" class="required">Required</small>
              </label>

              <div class="medium-4 small-centered column">
                <div class="row collapse prefix-round postfix-round">

                  <div class="small-3 columns">
                    <span ng-click="changeNumber($index,1)" class="button postfix">+</span>
                  </div>
                  <div class="small-6 columns">
                    <input type="number"
                           ng-model="input.default"
                           id="input_{{input.name}}"
                           min="0"
                           ng-required="input.required"
                           value="{{input.default}}"
                        />
                    <span class="radius secondary label" ng-if="input.words">
                      {{ input.words * input.default }} words
                    </span>
                  </div>
                  <div class="small-3 columns">
                    <span ng-click="changeNumber($index,-1)" class="button prefix">-</span>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="large-12 column">
            <button class="left round submit button" ng-class="{disabled: orderFormWrap.$invalid}" id="saveForm"
                    name="saveForm" type="button" ng-click="checkForm(orderFormWrap)">
              اتصل بي
            </button>

            <div class="clear"></div>
            <div data-alert class="alert-box radius" ng-class="{alert: formError, success: !formError}"
                 ng-show="formMessage">
              {{ formMessage }}
              <a href="#" class="close" ng-click="closeMessageBox()">&times;</a>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="hide">
    <!--<textarea name="comment" id="comment" rows="1" cols="1" ng-model="callForm.comment"></textarea>-->
    <!--<input type="hidden" id="idstamp" name="idstamp"-->
    <!--value="9dEE38FnE/bKQEDjFp3OJfov8wcRTE2xjgD/QyJg8Wo=" ng-model="callForm.idstamp"/>-->
  </div>
</form>
